/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}



*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  font-family: verdana;
  line-height: 1.5;
  background-color:#b4c1db;
   min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.card1 {
  border-radius: 10px;
  padding:10px;
  margin:10px 5px 5px 10px;
  background-color:#99add4;
}


.footer {
    margin-top: auto;
  position:fixed;
  bottom:0;
  overflow:auto;
  flex-grow:1;
  font-size:14px; 
  text-align:center;
}
/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

p {
font-family: "Verdana";
  color:#0c1744;
}
h1 {
font-family: "Verdana";
  color:#0c1744;
}
h2 {
font-family: "Verdana";
  color:#0c1744;
}
h3 {
font-family: "Verdana";
  color:#0c1744
}
h4 {
font-family: "Verdana";
  color:#0c1744;
}
h5 {
font-family: "Verdana";
  color:#0c1744;
}
h6 {
font-family: "Verdana";
  color:#0c1744;
}

hr {
  border: #4f4a85 1px solid;
}

/* unvisited link */
a:link {
  color: #1d126a
}

/* visited link */
a:visited {
  color: #341275;
}

/* mouse over link */
a:hover {
  color: #1c0052
}

/* selected link */
a:active {
  color: #1c0052;
}

::-webkit-scrollbar {
  background-color:#bebeeb;
    width: 12px;
}
 
::-webkit-scrollbar-track {
    background-color:#bebeeb;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:##99add4;
}

/* card 1 scrollbar */
.card1::-webkit-scrollbar-track {
    background-color: ##99add4;
}
.card1::-webkit-scrollbar-thumb {
  background-color:#8378c4;
}
.card1::-webkit-scrollbar {
  background-color:##99add4;;
    width: 12px;
}
/* c1 scrollbar*/
.c1::-webkit-scrollbar-track {
     background-color: ##99add4;
}
.c1::-webkit-scrollbar-thumb {
  background-color:#8378c4;
}
.c1::-webkit-scrollbar {
  background-color:##99add4;
    width: 12px;
}

 /* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #0c1744; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 21px;
  color: #5a68a3;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #7683B9;
}
.license{
  position:fixed; 
  bottom:0;
  margin-left:5px;
  margin-bottom:5px;
  align-items:center;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

.sidebarimg{
  border-radius:10px;
  padding:6px;
}


