 @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&family=Anybody:wght@600&family=Bungee&family=Hubballi&family=Josefin+Sans:wght@500&family=M+PLUS+Rounded+1c:wght@700&family=Nova+Mono&family=Poor+Story&family=Rajdhani:wght@600&family=Righteous&family=Share+Tech+Mono&family=ZCOOL+QingKe+HuangYou&display=swap');

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 0;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
  background-color: #f6f6f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.card1 {
  border-radius: 10px;
  margin: 10px 5px 5px 10px;
  background-color: #bfcce7;
}

.card2 {
  border-radius: 10px;
  margin: 10px 5px 5px 10px;
  padding:15px;
  background-color: #e3e6f5;
}





.footer {
  border-radius: 10px;
  padding: 10px;
  margin: 10px 5px 5px 10px;
  background-color: #bfcce7;
}
/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

p {
  font-family: Verdana, sans-serif;
  color: #0c1744;
}
h1 {
  font-family: Verdana, sans-serif;
  color: #0c1744;
}
h2 {
  font-family: Verdana, sans-serif;
  color: #0c1744;
}
h3 {
  font-family: Verdana, sans-serif;
  color: #0c1744;
}
h4 {
  font-family: Verdana, sans-serif;
  color: #0c1744;
}
h5 {
  font-family: Verdana, sans-serif;
  color: #0c1744;
}
h6 {
  font-family: Verdana, sans-serif;
  color: #0c1744;
}

hr {
  border: #4f4a85 1px solid;
}

/* unvisited link */
a:link {
  color: #1d126a;
}

/* visited link */
a:visited {
  color: #341275;
}

/* mouse over link */
a:hover {
  color: #1c0052;
}

/* selected link */
a:active {
  color: #1c0052;
}

::-webkit-scrollbar {
  background-color: #bebeeb;
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #bebeeb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bfcce7;
}

/* card 1 scrollbar */
.card1::-webkit-scrollbar-track {
  background-color: #bfcce7;
}
.card1::-webkit-scrollbar-thumb {
  background-color: #8378c4;
}
.card1::-webkit-scrollbar {
  background-color: #bfcce7;
  width: 12px;
}



footer {
  margin-top: auto;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
}




.column {
  float: left;
  padding:8px;
}



.left {
  width: 40%;
  height:auto;
  display:block;
  margin:auto;
  text-align:center;
}

.left img{
  width:100%
}

.right img{
  width:90%
}

.right {
  width: 60%;
  text-align:center;
  
}


.row:after {
  content: "";
  display: table;
  clear: both;}

@media (max-width:500px){
  .left {
    width:100%
  }
  .right {
    Width: 100%;
  }
   .left img{
  width:95%;
    display:block;
    margin:auto;
    
}
   .right img{
  width:95%;
    display:block;
    margin:auto;
    
}
  div.sticky {
    width:95%;
  }
}

@media (max-width:800px){
  .left {
    width:100%
  }
  .right {
    Width: 100%;
  }
  .left img{
  width:80%;
    display:block;
    margin:auto;
    
}
  .right img{
  width:80%;
    display:block;
    margin:auto;
    
}
  div.sticky {
    width:80%
  }
}


div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  padding:5px;
  border:solid #5073af;
}




div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}


.button1 {
  border-radius: 8px;
  margin: 10px 5px 5px 10px;
  padding:5px;
  background-color: #bfcce7;
}
.button1:hover{
  background-color: #9facdf;
}

.button2 a {
  text-decoration:none;
  font-family: 'Josefin Sans', sans-serif;
  font-size:14px;
}

.button3 {
  border-radius: 8px;
  margin: 10px 5px 5px 10px;
  padding:5px;
  background-color: #939fd1;
}
.button3:hover{
  background-color: #7584c2;
}

.abtpara {
  text-align: center; 
  font-family: 'M PLUS Rounded 1c', monospace;
  text-transform:uppercase;
  padding:10px;
  width:50%;
  margin:auto;
}

@media (max-width:800px){
  .abtpara {
  text-align: center; 
  padding:10px;
  width:95%;
  margin:auto;
}
  .abtpara2 {
  text-align: center; 
  padding:5px;
}
}

.abtpara2 {
  text-align: center; 
  font-family: 'M PLUS Rounded 1c', monospace;
  padding:10px;
  margin:auto;
}

/* tooltip box*/
.tooltip {
  position: relative;
  display: inline-block;
}

/* text inside tooltip */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #bfcce7;
  opacity:50%;
  color: #0c1744;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip .tooltiptext {
  bottom: 110%;
  left: 50%;
  margin-left: -60px;
  
}

.prevnext {
  display:block;
  margin-left:auto;
  margin-right:auto;
  font-size:20px;
}


.carddesc {
  font-family: 'M PLUS Rounded 1c', monospace;
}



.banner {
  width: 50%;
  margin: auto;
  display: block;
}
@media (max-width: 600px) {
  .banner {
    width: 80%;
  }
}


.banner2 {
  width:30%;
  margin-left:auto;
  margin-right:auto;
  display:block;
}



@media (max-width: 600px) {
  .banner2 {
    width:90%;
  }
}


.banner3 {
  width:50%;
  margin-left:auto;
  margin-right:auto;
  display:block;
}



@media (max-width: 810px) {
  .banner3 {
    width:90%;
  }
}


@media (max-width: 400px) {
  .banner3 {
    width:90%;
  }
}


@media (max-width:700px ) {
  .banner3 {
    width:60%;
  }
}


